.about {
    position: relative;
    margin-bottom: 70px;
    padding: 0 20px;
    overflow: hidden;

    @include atTablet {
        padding: 0 40px;
    }
}

.about::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url('./img/target_grey.png');
    background-repeat: no-repeat;
    bottom: 0;
    left: -530px;
    width: 100%;
    height: 1015px;
    z-index: -1;
}

.about::after {
    content: '';
    display: block;
    position: absolute;
    background-image: url('./img/target_yellow.png');
    background-repeat: no-repeat;
    bottom: 0;
    right: -1280px;
    width: 100%;
    height: 1015px;
    z-index: -1;
}

.about__content {
    // display: flex;
    // margin-bottom: 70px;
    // padding: 0 150px;
}

.section__text {
    margin: 0;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
}

.about__slider {
    margin: 40px -20px;
    background-color: $black;

    @include atDesktopS {
        margin: 60px -40px;
    }
}

.slider {
    display: flex;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    // padding: 20px 0;
    padding-top: 2px;
    padding-bottom: 20px;
    list-style-type: none;
    width: 100%;

    @include atTablet {
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 32px;
        padding-bottom: 50px;
    }
}

.about__slider-item {
    position: relative;
    // max-width: 250px;
    // margin-right: 45px;
    margin-left: 50px;
    color: #fff;
    font-size: 14px;

    @include atTablet {
        margin-left: 100px;
        // margin-right: 80px;
        font-size: 30px;
    }
}

.about__slider-item:last-child {
    margin-right: 0;
}

.about__slider-item::before {
    content: '';
    position: absolute;
    display: block;
    left: -50px;
    top: 50%;
    width: 35px;
    height: 35px;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: contain;

    @include atTablet {
        left: -100px;
        width: 75px;
        height: 75px;
    }
}

.slider-item--family::before {
    background-image: url('./img/icons/family.png');
}

.slider-item--weather::before {
    background-image: url('./img/icons/weather.png');
}

.slider-item--safe::before {
    background-image: url('./img/icons/shield.png');
}

.slider-item--far::before {
    background-image: url('./img/icons/antenne.png');
}

.slider-item--clothes::before {
    background-image: url('./img/icons/clothes.png');
}

.slider-item--educational::before {
    background-image: url('./img/icons/hat.png');
}