.button {
    display: inline-block;
    padding: 0.5em 1em;
    color: $black;
    font-family: $titleFont;
    font-size: 4.5vw;
    text-transform: uppercase;
    border: 1px solid $golden;
    border-radius: 2em;
    background-color: $golden;
    cursor: pointer;
    text-decoration: none;
    transition: all ease-in-out 0.2s;

    @include atscreenXs {
        font-size: 1.5em;
        font-weight: 700;
    }

    @include atTablet {
        font-size: 2em;
        font-weight: 700;
    }
}

.button:hover {
    color: $light;
    background-color: inherit;
    border: 1px solid $light;
}

.button--popup {
    color: $grey;
    background-color: transparent;
    border: 1px solid $grey;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.button--popup:hover {
    color: $light;
    background-color: #f2b979;
}