.contacts {
    margin-bottom: 70px;
}

.contacts__content {
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    @include atTablet {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.contacts__map {
    max-width: 800px;
    width: 100%;
    margin-bottom: 30px;
    // height: 450px;

    @include atTablet {
        margin-bottom: 0;
    }
}

.contacts__data-title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;

    @include atTablet {
        font-size: 24px;
    }
}

.contacts__data {
    margin-bottom: 15px;
}

.contacts__data-content {
    display: block;
    width: fit-content;
    color: black;
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
    text-decoration: none;

    @include atTablet {
        font-size: 20px;
    }
}

.contacts__data-container {
    display: flex;
}

.contacts__icon {
    width: 35px;
    height: 35px;
    display: flex;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: ease-in-out 0.2s;
    background-repeat: no-repeat;
    background-size: contain;
}

.contacts__icon--vk {
    background-image: url('./img/icons/vk.png');
}

.contacts__icon--tg {
    background-image: url('./img/icons/tg.png');
}