.hero {
    position: relative;
    width: 100%;
    // height: 77vw;
    height: 98vh;
    max-height: 770px;
    margin-bottom: 40px;
    padding: 20px;
    background-size: cover; 
    background-image: url('/img/header.jpg');

    @include atTablet {
        height: 650px;
        margin-bottom: 70px;
        padding-left: 30px;
        padding-top: 15px;
        background-position-x: 50%;
    }
}

.hero__top {
    display: flex;
    // margin-bottom: 15px;
    margin-bottom: 130px;

    @include atTablet {
        margin-bottom: 45px;
    }
}

.hero__logo {
    margin: 0;
    width: 60px;

    @include atTablet {
        width: 120px;
    }
}

.hero__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero__nav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 7;
    width: 100%;
    // max-width: 400px;
    opacity: 0.9;
    transition: all 0.3s ease-out;

    &--hidden {
        right: -110%;
    }

    @include atDesktopS {
        position: unset;
        // max-width: unset;
        margin-left: auto;
        visibility: visible;
        opacity: 1;
    }

    @include atDesktopM {
        left: 260px;
    }

    @include atDesktopL {
        left: 320px;
    }

    @include atFullHD {
        left: 400px;
    }
}

.hero__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;

    @include atDesktopS {
        // padding-top: 230px;
    }
}

.hero__button {
    // margin-bottom: 15px;
    margin-bottom: 30px;

    @include atTablet {
        margin-bottom: 45px;
    }
}

.hero__desc {
    margin: 0;
    font-family: $titleFont;
    font-size: 14px;

    @include atscreenXs {
        font-size: 16px;
    }
}