.hero-caption {
    margin-bottom: 90px;
    color: $golden;
    font-family: $titleFont;
}

.hero-caption__title {
    margin: 0;
    font-family: $titleFont;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 65px;
    text-transform: uppercase;
}

.hero-caption__subtitle {
    margin: 0;
    font-family: $titleFont;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 65px;
}

.hero-caption__subtitle span{
    margin: 0;
    font-weight: normal;
}