.lasertag {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    margin: 0 auto;
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
    padding-bottom: 40px;
    background-size: cover; 
    background-image: url('./img/lasertag.jpg');
    background-position-x: center;
    overflow: hidden;

    @include atTablet {
        height: 70vw;
        margin-left: -40px;
        margin-right: -40px;
        padding: 80px;
    }

    @include atDesktopS {
        height: 500px;
    }
}

.lasertag__title {
    margin: 0;
    margin-bottom: 60px;
    color: $golden;
    font-size: 36px;
    font-family: $titleFont;
    text-transform: uppercase;

    @include atTablet {
        font-size: 45px;
    }
}

.lasertag__text {
    @include atDesktopM {
        margin-bottom: 60px;
    }
}

.lasertag__desc {
    max-width: 700px;
    margin: 0;
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
    font-family: $titleFont;
    font-weight: 400;
    line-height: 24px;

    @include atTablet {
        font-size: 24px;
    }
}

.lasertag__desc:last-child {
    margin-bottom: 0;
}

.lasertag__desc span {
    text-transform: uppercase;
}

.lasertag__deco {
    position: absolute;
    width: 100%;
}

.lasertag__deco-line {
    display: none;

    @include atDesktopM {
        display: block;
        width: 100%;
        font-size: 24px;
        font-family: $titleFont;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }
}

.lasertag__deco-line--yellow {
    display: none;

    @include atDesktopM {
        display: block;
        position: absolute;
        right: -35%;
        top: 19%;
        transform: rotate(45deg);
        color: white;
    }

    @include atDesktopL {
        right: -41%;
        top: 18%;
    }
}

.lasertag__deco-line--yellow::before {
    content: '';
    position: absolute;
    left: 0;
    top: -15px;
    display: block;
    width: 100vw;
    height: 10px;
    background-color: $golden;
    box-shadow: 0px 0px 6px 7px rgba(253, 220, 81, 0.2);
}

.lasertag__deco-line--white {
    display: none;

    @include atDesktopM {
        display: block;
        position: absolute;
        right: -35%;
        top: 66%;
        transform: rotate(-45deg);
        color: $golden;
    }

    @include atDesktopL {
        right: -40%;
        top: 66%;
    }
}

.lasertag__deco-line--white::after {
    content: '';
    position: absolute;
    left: 0;
    top: 30px;
    display: block;
    width: 100vw;
    height: 10px;
    background-color: white;
    box-shadow: 0px 0px 6px 7px rgba(255, 255, 255, 0.2);
}