.main-nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgba(black, 0.9);

    @include atDesktopS {
        position: relative;
        background-color: transparent;
    }
}

.main-nav__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;

    @include atDesktopS {
        flex-direction: row;
    }
}

.main-nav__item a {
    display: block;
    margin: 20px;
    color: $light;
    font-size: 1.3rem;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
    
    @include atDesktopS {
        margin: 0;
        margin-right: 30px;
        font-size: 0.85rem;
    }
}

.main-nav__item a:hover {
    color: $golden;
}