.btn {
	border: 1px solid grey;
	cursor: pointer;
}

.modals__overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}

.modal {
	background-color: #fff;
	width: 60vh;
	height: 80vh;
	align-items: center;
	justify-content: center;
	display: none;
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid $golden;
	overflow: overlay;
}

.modal__header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 15%;
	background-color: $golden;
	color: $black;
	font-size: 40px;
	font-family: $titleFont;
	line-height: 40px;
}

.modal__content {
	padding: 0 15px;
	font-family: $titleFont;
}

.modal--1 {
	background-image: url('./img/guard_full.jpg');
	font-size: 24px;
	line-height: 30px;
}

.modal--2 {
	background-color: tan;
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJUDdTpf8NQuBtdrBgSKRtn7chovffMKPtiA&usqp=CAU');
	color: black;
	font-size: 22px;
	text-align: right;
}

.modals__overlay--visible {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
}

.modal--visible {
	display: block;
}