.shooting {
    margin: 0 auto;
    width: 100%;
    height: 77vw;
    background-size: cover; 
    background-image: url('/img/header.jpg');
}

.shooting__title {
    text-align: center;
}

.shooting__subtitle {
    text-align: center;
}