nav.main-nav
    ul.main-nav__list
        li.main-nav__item: a(href="index.html").main-nav__link.smooth-trigger Главная
        li.main-nav__item: a(href="#about").main-nav__link.smooth-trigger О Нас
        li.main-nav__item: a(href="#service").main-nav__link.smooth-trigger Наши услуги
        li.main-nav__item: a(href="#cert").main-nav__link.smooth-trigger Подарочный сертификат
        li.main-nav__item: a(href="#shootingsday").main-nav__link.smooth-trigger День стрелка
        li.main-nav__item: a(href="#contacts").main-nav__link.smooth-trigger Контакты