nav.main-nav
    ul.main-nav__list
        li.main-nav__item: a(href="index.html").main-nav__link.smooth-trigger Главная
        li.main-nav__item: a(href="index.html#services").main-nav__link.smooth-trigger Услуги
        li.main-nav__item: a(href="index.html#aboutus").main-nav__link.smooth-trigger О Нас