.modals
    .modals__overlay
        .modal.modal--1(data-target='guard')
            .modal__header Частный охранник
            .modal__content
                p.modal__text НОУ «Центр профессиональной подготовки» в Калининграде проводит обучение и подготовку высококлассных частных охранников 4,5,6 разрядов.
                p.modal__text После обучения, проводится сдача квалификационных экзаменов с присвоением разряда и выдачей свидетельства о присвоении разряда государственного образца.
                p.modal__text Документы для записи на обучение:<br>- заявление на зачисление (заполняется в учебном центре);<br>- паспорт гражданина РФ;<br>- СНИЛС;<br>- медкомиссия форма справки 003-О/у и 002-ЧО/у (мед. заключение к исполнению обязанностей частного охранника);
                p.modal__text СДАЧА ПЕРИОДИЧЕСКОЙ ПРОВЕРКИ И КВАЛИФИКАЦИОННОГО ЭКЗАМЕНА У ЧАСТНЫХ ОХРАННИКОВ И РАБОТНИКОВ ЮРИДИЧЕСКИХ ЛИЦ С ОСОБЫМИ УСТАВНЫМИ ЗАДАЧАМИ НА УЧЕБНО-МЕТОДИЧЕСКОЙ БАЗЕ НОУ «ЦПП» ПРОВОДИТСЯ БЕСПЛАТНО.

        .modal.modal--2(data-target='shooting')
            .modal__header Пулевая стрельба
            .modal__content
                p.modal__text Тут будет текст

        .modal.modal--3(data-target='training')
            .modal__header Повышение квалификации
            .modal__content
                p.modal__text Тут будет текст

        .modal.modal--4(data-target='lasertag')
            .modal__header Всё про лазерный пейнтбол
            .modal__content
                p.modal__text Тут будет текст
