<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Тир39
        
    body
        .container
            header.hero
                .hero__top
                    .hero__logo
                        img(src="./img/logo1.png", alt="Логотип центра профессиональной подготовки в Калининграде")

                    .hero__nav.hero__nav--hidden
                        include modules/_menu.pug

                    .menu-button
                        .menu-button__middle
                .hero__content
                    .hero-caption
                        h1.hero-caption__title Центр подготовки
                        p.hero-caption__subtitle Стрелковый тир<br><span>в Калининграде
                    .hero__button
                        a.button(href='#service') К услугам
                    p.hero__desc Стань профессионалом или интересно проведи время

            section.service#service
                h2.service__title Наши услуги
                ul.service__tabs
                    li.service__tab(data-tab='#tab_1') Учебные курсы
                    li.service__tab(data-tab='#tab_2') Стрельба
                    li.service__tab(data-tab='#tab_3') Мастерская
                .service__content
                    .service__content-item#tab_1
                        .practice
                            .practice__item(data-path='me-popup')
                                .practice__header
                                    p.practice__title Частный охранник
                                .practice__image
                                    img(src="./img/guard.jpg", alt="Изображение охранника Тир39")
                                .service__button.btn Подробнее
                            .practice__item(data-path='secondary')
                                .practice__header
                                    p.practice__title Пулевая стрельба
                                .practice__image
                                    img(src="./img/shooting.jpg", alt="Изображение пулевой стрельбы Тир39")
                                .service__button.btn Подробнее
                            .practice__item(data-path='secondary')
                                .practice__header
                                    p.practice__title Повышение квалификации
                                .practice__image
                                    img(src="./img/training.jpg", alt="Изображение повышения квалификации Тир39")
                                .service__button.btn Подробнее
                    .service__content-item#tab_2
                        .shooting
                            h3.shooting__title Стрельба с инструктором
                            p.shooting__subtitle Всему обучим
                    .service__content-item#tab_3
                        .workshop
                            h3.workshop__title Пушка на прокачку
                            p.workshop__subtitle Всему починим



            include modules/_modal.pug                
                        



    script(src="scripts.js")