<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="")
        link(rel="stylesheet", href="styles.css")

        title Тир39
        
    body
        .container
            header.hero
                .hero__top
                    .hero__logo
                        img(src="./img/logo1.png", alt="Логотип центра профессиональной подготовки в Калининграде")
                    .hero__nav.hero__nav--hidden
                        include modules/_menu.pug
                    .menu-button
                        .menu-button__middle
                .hero__content
                    .hero-caption
                        h1.hero-caption__title Центр подготовки
                        p.hero-caption__subtitle Стрелковый тир<br><span>в Калининграде
                    .hero__button
                        a.button(href='#service') К услугам
                    p.hero__desc Стань профессионалом или интересно проведи время
            section.about
                .section-header
                    h2.section-header__title О нас
                .about__content
                    .section-content
                        .section-content__pic.section-content__pic--first
                            img(src="./img/about.jpg", alt="Изображение О Нас")
                        .section-content__desc 
                            p.section-content__text Наш центр является учебно-спортивной базой по подготовке и повышению квалификации граждан, осуществляющих спортивную, охранную деятельность, владельцев гражданского оружия.
                            p.section-content__text НОУ "Центр профессиональной подготовки" - это уникальное учебное заведение города Калининграда, осуществляющее следующие виды деятельности в сфере образования и спорта взрослых и молодежи города
                            p.section-content__text Сдача периодической проверки и квалификационного экзамена у частных охранников и работников юридических лиц с особыми уставными задачами проводится - бесплатно.
                .about__slider 
                    ul.slider
                        li.about__slider-item.slider-item--family Для&nbsp;всей<br> семьи
                        li.about__slider-item.slider-item--weather В&nbsp;любую<br> погоду
                        li.about__slider-item.slider-item--safe Полностью безопасно
                        li.about__slider-item.slider-item--far Высокая дальность поражения       
                        li.about__slider-item.slider-item--clothes Не&nbsp;требуется спец.одежда       
                        li.about__slider-item.slider-item--educational Образовательное учреждение       
            section.service#service
                .section-header
                    h2.section-header__title Наши услуги
                ul.service__tabs
                    li.service__tab(data-tab='#tab_1') Учебные курсы
                    li.service__tab(data-tab='#tab_2') Лазертаг
                    li.service__tab(data-tab='#tab_3') Мастерская
                .service__content
                    .service__content-item#tab_1
                        .practice
                            .practice__item.btns(data-path='guard')
                                .practice__header
                                    p.practice__title Частный охранник
                                .practice__image
                                    img(src="./img/guard.jpg", alt="Изображение охранника Тир39")
                                .service__button.btn Подробнее
                            .practice__item.btns(data-path='shooting')
                                .practice__header
                                    p.practice__title Пулевая стрельба
                                .practice__image
                                    img(src="./img/shooting.jpg", alt="Изображение пулевой стрельбы Тир39")
                                .service__button.btn Подробнее
                            .practice__item.btns(data-path='training')
                                .practice__header
                                    p.practice__title Повышение квалификации
                                .practice__image
                                    img(src="./img/training.jpg", alt="Изображение повышения квалификации Тир39")
                                .service__button.btn Подробнее
                    .service__content-item#tab_2
                        .lasertag
                            .lasertag__content
                                h3.lasertag__title Лазертаг
                                .lasertag__text
                                    p.lasertag__desc <span>Лазерный пейнтбол</span> «Laserwar Kaliningrad»
                                    p.lasertag__desc Это отличная высокотехнологичная игра, происходящая в&nbsp;реальном времени и&nbsp;пространстве в&nbsp;Калининграде.
                                .lasertag__button
                                    .button.btns(data-path='lasertag') Подробнее
                            .lasertag__deco-line.lasertag__deco-line--yellow безболезненно
                            .lasertag__deco-line.lasertag__deco-line--white полностью безопасно
                    .service__content-item#tab_3
                        .workshop
                            h3.workshop__title Мастерская
                            p.workshop__subtitle Единственный сертифицированный сервисный центр в г. Калининград по ремонту огнестрельного оружия
            section.cert
                .section-header
                    h2.section-header__title Подарочный сертификат
                .cert__content
                    .section-content
                        .section-content__desc
                            p.section-content__text Ищите оригинальный подарок?
                            p.section-content__text Хотите подарить яркие и незабываемые эмоции?
                            p.section-content__text Подарочный сертификат на стрельбу - это именно то, что вы искали!
                        .section-content__pic
                            img(src="./img/cert.png", alt="Подарочный сертификат")
            section.shootingsday
                .shootingsday__content
                    .shootingsday__header 
                        h3.shootingsday__title День стрелка
                        p.shootingsday__days Каждую <span>субботу</span> и <span>воскресенье</span>
                        p.shootingsday__time 09:00 - 18:00
                    .shootingsday__cta 
                        p.shootingsday__list-title Приходите
                        ul.shootingsday__cta-list
                            li.shootingsday__cta-item - лично
                            li.shootingsday__cta-item - с детьми старше 14 лет
                            li.shootingsday__cta-item - всей семьей
                            li.shootingsday__cta-item - с друзьями
                            li.shootingsday__cta-item - с коллегами
                    p.shootingsday__profit Приобретайте море положительных эмоций и&nbsp;позитива!
            section.contacts 
                .section-header
                    h2.section-header__title Наши контакты
                .contacts__content
                    .contacts__map
                        .map#map
                    .contacts__container
                        .contacts__data
                            p.contacts__data-title Адрес:
                            p.contacts__data-content г. Калининград, ул. Генерал-Фельдмаршала Румянцева, 25
                        .contacts__data
                            p.contacts__data-title Телефон:
                            a.contacts__data-content(href='tel:89114800480') 8-911-480-0-480
                            a.contacts__data-content(href='tel:84012539401') 8(4012)-539-401
                        .contacts__data
                            p.contacts__data-title E-mail:
                            a.contacts__data-content(href='mailto:tir39@bk.ru') tir39@bk.ru
                        .contacts__data
                            p.contacts__data-title Соцсети:
                            .contacts__data-container
                                a.contacts__icon.contacts__icon--vk(href="https://vk.com/" target='_blank')
                                a.contacts__icon.contacts__icon--vk(href="https://vk.com/" target='_blank')

            footer.footer
                .footer__content
                    //- .footer__contacts
                    //-     ul.contacts
                    //-         li.contacts__item
                    //-             a.contacts__icon.contacts__icon--vk(href="")
                    //-         li.contacts__item
                    //-             a.contacts__icon.contacts__icon--vk(href="")
                    p.footer__copyright © 2023 Тир39

            button.up-button#up-button
                .up-button__arrow
                p.up-button__text Наверх
                            






            include modules/_modal.pug


    script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin="")
    script(src="scripts.js")